@import '../../styles/colors.scss';
.container {
    width: 260px;
    height: 230px;
    padding: 16px;
    cursor: pointer;
    .details {
        gap: 8px;
        display: flex;
        align-items: center;
        .rank {
            position:relative;
            background-color: $red;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            color: $white;
            span {
                position:absolute;
                top: 20%;
                left:35%;
                right: 35%;
                font-weight: bold;
            }
        }
        .title{
            margin: 0px;
            font-size: 14px;
            font-weight: bold;
        }
        .channel {
            font-size: 12px;
        }
        .views, .posted {
            font-size: 11px;
        }
        .textualFooterDetail{
            display:flex;
        }
    }
}
