@import '../../styles/colors.scss';
.container {
    width: 260px;
    height: 180px;
    padding: 16px;
    cursor: pointer;
    .details {
        gap: 8px;
        display: flex;
        align-items: center;
        .rank {
            position:relative;
            background-color: $red;
            min-width: 40px;
            min-height: 40px;
            border-radius: 50%;
            color: $white;
            span {
                display: block;
                position:absolute;
                z-index:1;
                top: 25%;
                left:38%;
                right: 35%;
                font-weight: bold;
            }
        }
        .title{
            margin: 0px;
            font-size: 14px;
            font-weight: bold;
        }
        .channel {
            font-size: 12px;
        }
        .views, .posted {
            font-size: 11px;
        }
        .textualFooterDetail{
            display:flex;
            gap: 4px;
        }
    }
}
