@import '../../styles/colors.scss';
@import '../../styles//colors.scss';

.container {
    background-color: #f1f1f1;
    float: right;
    margin-top: 50px;
    height: 90vh;
    width: 90%;
    top: 5%;
    margin-left: 180px;
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */


    .innerContainer {
        padding: 16px;

        h2 {
            padding-left: 16px;
            font-size: 1em;

            @media (max-width: 500px) {
                text-align: center;

            }
        }

        .videoGrid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
            grid-gap: 15px;

            @media (max-width:500px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}